{{ $imagePosition := .imagePosition | default "right" }}
{{ $containerClass := cond (eq $imagePosition "left") "rounded-box-banner image-left" "rounded-box-banner" }}

<div class="container-rounded">
  <div class="{{ $containerClass }}">
    {{ if eq $imagePosition "left" }}
    <div class="inner-rounded-img-float">
      <img src="{{ .image }}" loading="lazy" alt="{{ .imageAlt | default .title }}" 
           class="image-hero">
    </div>
    {{ end }}
    
    <div class="inner-rounded-banner">
      {{ with .tag }}
      <div class="flex-tag">
        <div class="title-tag">{{ . }}</div>
      </div>
      {{ end }}
      
      {{ with .title }}
      <h3 class="heading-large">{{ . }}</h3>
      {{ end }}
      
      {{ with .content }}
      <p class="main-paragraph">{{ . | markdownify }}</p>
      {{ end }}
      
      {{ if or .cta .ctaSecondary }}
      <div class="hero-div-block">
        {{ with .cta }}
        <a href="{{ .url }}" {{ if .external }}target="_blank"{{ end }} class="link-block w-inline-block">
          <div class="button-primary">{{ .text }}</div>
        </a>
        {{ end }}
        
        {{ with .ctaSecondary }}
        <a href="{{ .url }}" class="walsh-link-wrapper w-inline-block">
          <div>{{ .text }}</div>
          <img src="/images/icon-arrow-right-black.svg" loading="lazy" alt="" class="walsh-icon-arrow">
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    
    {{ if eq $imagePosition "right" }}
    <div class="inner-rounded-img-float">
      <img src="{{ .image }}" loading="lazy" alt="{{ .imageAlt | default .title }}" 
           class="image-hero">
    </div>
    {{ end }}
  </div>
</div>