<!-- Services Slider Component -->
<section class="team-slider-2">
  <div class="container-3">
    <h2 class="heading-1">Unsere Produkte </br> und Dienste</h2>
    <div class="div-block-5">
      <p class="paragraph-serif-left-hero">Starten Sie jetzt Ihre KI-Zukunft mit unseren innovativen Lösungen.</p>
    </div>
    
    <div data-delay="4000" data-animation="slide" class="serviceslider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        
        <!-- API Service -->
        <div class="servicewrapper w-slide">
          <div class="openhippo-block">
            <img src="{{ site.Data.services.api.image | relURL }}" 
                 loading="lazy" 
                 alt="{{ site.Data.services.api.title }}" 
                 sizes="(max-width: 5001px) 100vw, 5001px" 
                 class="team-member-image-two">
            <div class="team-block-info">
              <h2 class="heading-small">{{ site.Data.services.api.title }}</h2>
              <p class="main-paragraph">{{ site.Data.services.api.description }}</p>
              <a href="{{ site.Data.services.api.url | relURL }}" class="link-block w-inline-block">
                <div class="button-primary">Mehr</div>
              </a>
            </div>
          </div>
        </div>
        
        <!-- Platform Service -->
        <div class="servicewrapper w-slide">
          <div class="openhippo-block">
            <img src="{{ site.Data.services.platform.image | relURL }}" 
                 loading="lazy" 
                 alt="{{ site.Data.services.platform.title }}" 
                 sizes="(max-width: 5001px) 100vw, 5001px" 
                 class="team-member-image-two">
            <div class="team-block-info">
              <h2 class="heading-small">{{ site.Data.services.platform.title }}</h2>
              <p class="main-paragraph">{{ site.Data.services.platform.description }}</p>
              <a href="{{ site.Data.services.platform.url | relURL }}" class="link-block w-inline-block">
                <div class="button-primary">Mehr</div>
              </a>
            </div>
          </div>
        </div>
        
        <!-- Consulting Service -->
        <div class="servicewrapper w-slide">
          <div class="openhippo-block">
            <img src="{{ site.Data.services.server.image | relURL }}" 
                 loading="lazy" 
                 alt="{{ site.Data.services.server.title }}" 
                 sizes="(max-width: 5001px) 100vw, 5001px" 
                 class="team-member-image-two">
            <div class="team-block-info">
              <h2 class="heading-small">{{ site.Data.services.server.title }}</h2>
              <p class="main-paragraph">{{ site.Data.services.server.description }}</p>
              <a href="{{ site.Data.services.consulting.url | relURL }}" class="link-block w-inline-block">
                <div class="button-primary">Mehr</div>
              </a>
            </div>
          </div>
        </div>
        
      </div>
      
      <!-- Slider Controls -->
      <div class="team-slider-arrow-2 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="team-slider-arrow-2 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="team-slider-nav-2 w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
</section>