{{ define "main" }}

<!-- Hero Slider Section -->
{{ if .Params.hero }}
  {{ partial "hero-slider.html" .Params }}
{{ end }}

<!-- Content Sections -->
{{ range .Params.sections }}
  {{ partial "content-image-section.html" . }}
{{ end }}

<!-- Services Section -->
{{ partial "services-slider.html" .Params.services }}

<!-- Testimonial Section -->
{{ if .Params.testimonial }}
  {{ partial "testimonial-section.html" .Params.testimonial }}
{{ end }}

<!-- Contact Section -->
{{ partial "contact.html" . }}

{{ end }}