<!-- Footer Component -->
<div class="content-wrapper-white">
  <div class="walsh-container">
    <div class="w-layout-grid main-grid-2">
      <!-- Logo -->
      <div id="w-node-_6f43c7f0-6126-97d2-d0c4-aaf2d087a604-d087a601">
        <img src="{{ "/images/Logo-OpenHippo-f-rgb.png" | relURL }}" 
             loading="lazy" 
             sizes="(max-width: 2882px) 100vw, 2882px" 
             srcset="{{ "/images/Logo-OpenHippo-f-rgb-p-500.png" | relURL }} 500w, 
                     {{ "/images/Logo-OpenHippo-f-rgb-p-800.png" | relURL }} 800w, 
                     {{ "/images/Logo-OpenHippo-f-rgb-p-1080.png" | relURL }} 1080w, 
                     {{ "/images/Logo-OpenHippo-f-rgb-p-1600.png" | relURL }} 1600w, 
                     {{ "/images/Logo-OpenHippo-f-rgb-p-2000.png" | relURL }} 2000w, 
                     {{ "/images/Logo-OpenHippo-f-rgb-p-2600.png" | relURL }} 2600w, 
                     {{ "/images/Logo-OpenHippo-f-rgb.png" | relURL }} 2882w" 
             alt="Open Hippo Logo" 
             class="logo-footer">
      </div>
      
      <!-- Footer Menu -->
      <div id="w-node-_6f43c7f0-6126-97d2-d0c4-aaf2d087a60d-d087a601" class="footer-inner-menu">
        <a href="{{ "/" | relURL }}" class="footer-link{{ if .IsHome }} w--current{{ end }}">Home</a>
        {{- range site.Menus.main }}
        <a href="{{ .URL | relURL }}" 
           class="footer-link{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} w--current{{ end }}">
          {{ .Name }}
        </a>
        {{- end }}
        <a href="{{ "/legalnotice/" | relURL }}" class="footer-link">Impressum</a>
        <a href="{{ "/privacypolicy/" | relURL }}" class="footer-link">Datenschutzerklärung</a>
      </div>
      
      <!-- Copyright -->
      <div id="w-node-_6f43c7f0-6126-97d2-d0c4-aaf2d087a606-d087a601" class="footer-inner">
        <div class="footer-legal-text">© {{ now.Format "2006" }}</div>
        <div class="footer-legal-text">
          Designed by <a href="https://www.verola-design.com/" class="link">verola.design</a>
        </div>
      </div>
    </div>
  </div>
</div>